<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%- title %></title>
  <link rel="stylesheet" href="/css/style.css">
  <% if (ENV_DEVELOPMENT) { %>
    <script src="http://localhost:35729/livereload.js"></script>
  <% } %>
</head>
<body>
<%if (message.length > 0) { %>
<div id="header">
  <div class="float-left padded-left"><%-message %></div>
  <div class="float-right padded-right"> <a href="/"> Home </a> || <a href="/posts/new">New Post </a> </div>
</div>
<% } %>
